.list {
    display: flex;
    &__links {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: var(--primary-text-colo);
        text-decoration: none;
        padding-top: 32.4px;
        padding-bottom: 32.4px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus{
            color: var(--button-wordfirst-color);
        }
        &:hover .special-icon,
        &:focus .special-icon{
             fill: var(--button-wordfirst-color);
        }
    }
    &__links--studcolor {
            display: block;
            position: relative;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            color: var(--button-wordfirst-color);
            text-decoration: none;
            padding-top: 32.4px;
            padding-bottom: 32.4px;
        &::after {
                content: " ";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: var(--button-wordfirst-color);
                border-radius: 2px;
            }
        }
               
}
.list__item:not(:last-child) {
    margin-right: 50px;
}
.list .list__item:not(:last-child) {
    margin-right: 50px;
}
.special-icon {
    fill: var(--text-other-color);
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}