:root {
    --color-white-fontbgr: #ffffff;
    --primary-text-color: #212121;
    --button-wordfirst-color: #2196f3;
    --text-other-color: #757575;
    --footer-herobgr-color: #2f303a;
    --adress-footer-color: rgba(255, 255, 255, 0.6);
    --button-portfolio-color: #f5f4fa;
    --primary-font-family: "Roboto", sans-serif;
    --second-font-family: "Raleway", sans-serif;
}